@page "/"

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Welcome to the Technical Test of ST Genética 
    </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        header {
            background-color: #007bff;
            color: #fff;
            padding: 20px;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            margin: 20px 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<body>
    <header>
        <h1>Welcome to the Technical Test of ST Genética</h1>
    </header>
    <div class="container">
        <p>Dear members of the team ST Genética,</p>
        <p>I hope you are fine. I want to express my sincere gratitude for giving me the opportunity to complete the technical test as part of the selection process to join your team.</p>
        <p>It was an honor to participate in the test and demonstrate my skills and technical knowledge. I value the possibility of being part of an innovative and highly reputable company like XYZ Company. I am excited by the possibility of contributing to your team and growing professionally alongside you.</p>
        <p>I understand the importance of this evaluation and have put my best effort into each task and challenge presented. I hope my performance meets your expectations and reflects my commitment to excellence.</p>
        <p>I am available for any additional questions or to provide more information if needed. Please do not hesitate to contact me at any time.</p>
        <p>I appreciate your time and consideration, and look forward to having the opportunity to move forward in the selection process.</p>
        <p>sincerely,</p>
        <p>Carlos Andres Arcila Quevedo</p>
    </div>
</body>